<%- include ('./partials/header.ejs'); %>
<body>
  <%- include ('./partials/navbar.ejs'); %>
   
  <div class="container">
    <hr />
    <h1>Perguntas</h1>
    <hr /> 
    <a href="/perguntar" class="btn btn-primary corbtn mt-3 btnperguntar">Perguntar</a>
    <hr />
    <% perguntas.forEach(pergunta=>{ %>
    <div class="card mt-3">
      <div class="card-body">
        <h8><%= pergunta.titulo %></h8>
      </div>
      <div class="card-footer">
        <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary corbtn mt-0">Responder</button></a>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include ('./partials/footer.ejs'); %>
